/*************CSS GENERAL*************/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /*Para que el tamaño de los elementos en una box no cambie el tamaño de la misma*/
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#salto {
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

#salto:focus {
    color: white;
    text-decoration: none;
}

.titulo {
    width: 100vw;
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

#show, #hide {
    color: black;
    padding: 2vw 0 1vh 2vw;
}

#menu {
    width: 100vw;
}

.menu__a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu__ul {
    padding: 0;
    margin: 0;
}

.menu__li {
    list-style: none;
}

.menu__li:hover {
    background-color: yellow;
    color: #000;
}

.prota__tabla th, .prota__td, .temp__td{
    border: thin solid darkgray;
    border-collapse: collapse;
}

.prota__tabla th {
    background-color: grey;
    color: white;
}

article {
    width: 100vw;
    margin-bottom: 5vh;
    padding: 0 2vw 0 2vw;
    text-align: justify;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

#argumento {
    margin-top: 20vh;
}

/*************VISTA PARA CELULARES*************/
@media all and (min-width: 320px) {
    .titulo {
        height: 20vh;
    }

    .titulo__contenedor {
        height: 10vh;
    }

    .titulo__imagen {
        max-height:100%;
    }

    .menu__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu__a {
        width: 100vw;
        display: flex;
        align-self: stretch;
    }

    .menu__li {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 1px #000;
    }

    #show {
        display: block;
        font-size: 5vh;
        color: white;
        position: relative;
    }

    #hide{
        display: none;
    }

    #menu__container .menu__ul {
        background-color: purple;
        height: 0;
        transition: height 0.5s ease;
        overflow: hidden;
    }

    #menu__container:target #show {
        display: none;
    }

    #menu__container:target #hide {
        display: block;
        font-size: 5vh;
        color: white;
        position: relative;
        right: 0;
    }

    #menu__container:target .menu__ul {
        background-color: purple;
        height: 40vh;
        transition: height 0.5s ease;
        position: relative;
        z-index: 100;
    }

    #argumento:before, #prota:before,#temp:before,
    #merch:before, #login:before {
        display: block;
        content: " ";
        height: 20.5vh;
        margin-top: -20vh;
        visibility: hidden;
    }

    /*************ARGUMENTO*************/

    .argumento h1{
        text-align: center;
        margin: 1vh 0 1vh 0;
    }

    .argumento p {
        text-align: justify;
        margin-bottom: 1vh;
    }

    .argumento__fig {
        width: 100%;
        text-align: center;
    }

    .argumento__img {
        max-width: 100%;
    }

    /*************PROTAGONISTAS*************/
    .prota__tabla tr {
        display: flex;
        flex-direction: column;
    }

    .prota__head {
        display: none;
    }

    .prota__td:nth-of-type(2)::before {
        content: "Nombre: |";
    }

    .prota__td:nth-of-type(3)::before {
        content: "Seiyuu: |";
    }

    .prota__td:nth-of-type(4)::before {
        content: "Ocupación: |";
    }

    .prota__td:nth-of-type(5)::before {
        content: "Historia: |";
    }

    .prota__td:nth-of-type(6)::before {
        content: "Parentezco: |";
    }

    .prota__td:nth-child(odd)::before, .prota__td:nth-child(even)::before {
        background-color: grey;
        color: white;
        margin-right: 1vw;
    }
    
    .prota__tabla {
        width: 100%;
        margin-bottom: -5vh;
    }

    .prota__fig {
        width: 100%;
        text-align: center;
    }

    .prota__img {
        max-width: 100%;
    }

    .prota__td {
        text-align: justify;
        padding: 5px;
    }

    .prota__td:nth-of-type(6) {
        margin-bottom: 5vh;
    }

    /*************TEMPORADAS*************/
    .temp__td {
        text-align: center;
        padding: 5px;
    }

    .temp__fig {
        width: 100%;
        text-align: center;
    }

    .temp__img {
        max-width: 100%;
    }

    .temp__trailer {
        width: 100%;
        height: 30vh;
    }

    .temp__td:nth-child(5) {
        margin-bottom: 5vh;
    }

    /*************MERCHANDISING*************/
    #merch {
        text-align: center;
    }

    .merch__album {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .merch__fig {
        width: 100%;
        text-align: center;
        margin-bottom: 5vh;
        box-shadow: 0px 0px 3px #000;
        padding: 10px;
    }

    .merch__img {
        max-width: 100%;
        border: thin solid rgba(00, 00, 00, 0.4);
    }

    .merch__h2 {
        text-align: center;
    }
    
    /*************MERCHINDISING*************/
    #login {
        height: 80vh;
        background-image: url("../img/suscribe\ 3.png");
        background-position: 95%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .login__form {
        width: 100vw;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(00, 00, 00, 0.4) 
    }

    .login__legend {
        color: white;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bolder;
        margin: 1vh 0 4vh 0;
    }

    .login__label {
        display: block;
        width: 90vw;
        font-size: 1.4rem;
        color: white;
    }

    .login__input {
        display: block;
        width: 90vw;
        height: 2.5rem;
        margin-bottom: 5vh;
    }

    .login__input::placeholder, .login__input:optional {
        font-size: 1.4rem;
        padding-left: 1vw;
    }

    .login__field {
        width: 90vw;
        height: 20%;
        border: thin solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .login__boton {
        width: 95%;
        height: 40%;
        color: Black;
        background-color: grey;
        font-size: 2rem;
        outline: thin solid white;
    }

    .login__boton:focus {
        color: black;
        background-color: darkgray;
    }
}

/*************VISTA PARA TABLETS*************/
@media all and (min-width: 768px) {
    /*************ARGUMENTO*************/
    #show {
        display: block;
        font-size: 1.25rem;
        color: white;
        position: relative;
    }

    #menu__container:target #hide {
        display: block;
        font-size: 1.25rem;
        color: white;
        position: relative;
        right: 0;
    }

    /*************MERCHANDISING*************/
    .merch__album {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .merch__fig {
        width: 40%;
        height: 80vh;
        text-align: center;
        margin-bottom: 5vh;
        box-shadow: 0px 0px 3px #000;
        padding: 10px;
    }

    .merch__img {
        height: 90%;
        border: thin solid rgba(00, 00, 00, 0.4);
    }
}

/*************VISTA PARA PC*************/
@media all and (min-width: 1024px) {
    #show, #hide {
        display: none;
    }

    #menu__container .menu__ul {
        height: 6.5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu__a {
        width: auto;
    }

    .menu__li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 6.5vh;
    }
    /*************ARGUMENTO*************/

    .argumento h1{
        text-align: center;
        margin: 1vh 0 1vh 0;
    }

    .argumento p {
        text-align: justify;
        margin-bottom: 1vh;
    }

    .argumento__fig {
        width: 100%;
        text-align: center;
    }

    .argumento__img {
        width: 70%;
    }

    /*************PROTAGONISTAS*************/
    .prota__tabla {
        width: 100%;
        border-collapse: collapse;
    }

    .prota__head {
        display: table-header-group;
    }

    .prota__tabla tr{
        display: table-row;
        width: 100%;
    }

    .prota__td:nth-child(odd)::before, .prota__td:nth-child(even)::before {
        display: none;
    }

    .prota__head {
        text-align: center;
    }

    .prota__fig {
        width: 100%;
    }

    .prota__img {
        max-width: 100%;
    }

    .prota__td {
        text-align: justify;
        padding: 5px;
        max-width: 20vw;
    }

    /*************TEMPORADAS*************/
    .temp__td {
        text-align: center;
        padding: 5px;
    }

    .temp__fig {
        width: 22vw;
        text-align: center;
        
    }

    .temp__img {
        max-width: 100%;
    }

    .temp__trailer {
        width: 40vw;
        height: 40vh;
    }

    .merch__album {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    /*************MERCHINDISING*************/
    .merch__fig {
        width: 30%;
        height: 50vh;
        text-align: center;
        margin-bottom: 5vh;
        box-shadow: 0px 0px 3px #000;
        padding: 10px;
    }

    .merch__img {
        max-width: 90%;
        border: thin solid rgba(00, 00, 00, 0.4);
    }

    article {
        margin-bottom: 10vh;
    }

    /*************LOGIN*************/
    .login__form {
        width: 75%;
        height: 80%;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .login__legend {
        width: 100%;
    }

    .login__label {
        width: 30%;
        margin: 0;
        text-align: end;
        padding-right: 2vw;
    }

    .login__input {
        width: 60%;
        margin: 0;
    }

    .login__field {
        width: 90%;
        height: 20vh;
        flex-direction: row;
        margin: 0 5% 0 5%;
    }

    .login__boton {
        width: 45%;
        height: 4rem;
    }
}

/*************VISTA PARA MONITOR HD*************/
@media all and (min-width: 1440px) {
    /*************MERCHINDISING*************/
    .merch__fig {
        width: 22.5%;
        height: 50vh;
        text-align: center;
        margin-bottom: 5vh;
        box-shadow: 0px 0px 3px #000;
        padding: 10px;
    }

    .merch__img {
        max-width: 90%;
        border: thin solid rgba(00, 00, 00, 0.4);
    }

    article {
        margin-bottom: 10vh;
    }
}